---
---

@import "{{ site.theme }}";
.header {
    background-color: #8f8f8f;
    text-align: center;
    padding: 15px;
}

.topnav {
    overflow: hidden;
    background-color: #fbfbfb;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.column.side {
    width: 25%;
}

.column.middle {
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

.footer {
    background-color: #F1F1F1;
    text-align: left;
    padding: 10px;
}
